
@import"abstracts/functions";
@import"abstracts/mixins";
@import"abstracts/variables";


@import"base/base";
@import"base/animations";
@import"base/utilities";
@import"base/typography";

@import"layout/responsive";

@import"components/button";
@import"components/card";
@import"components/searchSection";
@import"components/form";
@import"components/social-icon";
@import"components/carousel";






@import"pages/home/header";
@import"pages/home/slider_section";
@import"pages/home/whyus";
@import"pages/home/courses";
@import"pages/course-content/course-content";
@import"pages/footer";
@import"pages/contact-page/contact-main";
@import"pages/contact-page/modal";
@import"pages/about-page/our-story";
@import"pages/ask/ask";
@import"pages/tecknology/teck";
@import"pages/potflio/portflio-main";










