.nav-link {
    cursor: pointer;
    pointer-events: auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: rgb(55, 51, 57) !important;
    line-height: 1.3;
    padding-top: 13px;
    border-radius: 0px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}